@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  font-family: "Aleo", serif;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

img {
  width: 100px;
}

.header {
  position: fixed;
  width: 100%;
  height: 72px;
  background-color: #fff;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.25rem;
}

.nav-logo,
.nav-toggle {
  display: inline-flex;
}

.nav-toggle {
  font-size: 2rem;
  cursor: pointer;
  font-weight: light;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
    transition: all 0.4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.25rem;
  cursor: pointer;
  transition: all 0.4s;
}

/* show-menu */
.show-menu {
  top: 0;
}
/* end of navigation */

/* home */
.home {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, #d2e1fd 50%, #fff 50%); */
  /* background: #d2e1fd; */
}

.home-title {
  width: 323px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-top: 1.5rem;
}

.home-img-container {
  background: linear-gradient(to bottom, #d2e1fd 50%, #fff 50%);
  /* background: #d2e1fd; */
}
.home-img {
  width: 100%;
}
.home-button {
  width: 170px;
  height: 60px;
  background: #2871f6;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 2.25rem;
}
/* end of home */

/* services */
.services {
  width: 100%;
  /* height: 100vh; */
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-title {
  font-size: 2rem;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-img-container {
  margin-top: 3rem;
}
.service-img {
  width: 100%;
}
.service-one {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 238px;
  height: 0px;
  border: 3px solid #5c7aea;
  margin-top: 3rem;
}
.service-description-header {
  display: flex;
}

.description-title {
  width: 291px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 2.5rem;
}
.description-title-two {
  width: 291px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 2.5rem;
  margin-bottom: 7.88rem;
}
.service-number {
  font-size: 100px;
  line-height: 72px;
  color: #1758ce;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 2rem;
}
.service-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  width: 100px;
  height: 81px;
}
.service-text-two {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  width: 8.13rem;
  height: 81px;
}
/* end of services */

/* about */
.about {
  width: 100%;
  height: 468px;
  background: #d2e1fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-button {
  width: 170px;
  height: 60px;
  background: #2871f6;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 2rem;
}

.about-us {
  width: 20rem;
  /* height: 13rem; */
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .about-us {
    width: 722px;
    height: 93px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
}
@media screen and (max-width: 330px) {
  .about-us {
    width: 14rem;
    height: 93px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 4rem;
  }
}
/* end of about */
/* footer */
.footer {
  width: 100%;
  height: 49rem;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-img {
  margin-top: 1.5rem;
  width: 18rem;
}

.contact-us {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-us-title {
  font-weight: 300;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.contact-icon {
  margin-right: 1rem;
  font-size: 2rem;
}
.contact-title {
  font-size: 1rem;
}
.copyright {
  margin-top: 2rem;
  font-size: 1rem;
}
/* end of footer */
/* media queries */
@media screen and (min-width: 768px) {
  .nav-toggle,
  .nav-close {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
}
@media screen and (max-width: 295px) {
  .copyright {
    margin-top: 2rem;
    font-size: 0.8rem;
  }
}

/* end of media queries */

.bg {
  background: linear-gradient(
    to bottom,
    #ddd 50%,
    #9a8d6d 50%
  ); /* Go towards the bottom, Cover #ddd for 50%, Cover #9a8d60 for the other half */
  height: 200px;
}
